eps-service-library/src/main/resources/wsdl/BrokerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BrokerServiceService" targetNamespace="org.socraticgrid.hl7.services.eps" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="org.socraticgrid.hl7.services.eps" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="org.socraticgrid.hl7.services.eps" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="org.socraticgrid.hl7.services.eps">
  <xs:element name="discoverCapabilities" type="tns:discoverCapabilities"/>
  <xs:element name="discoverCapabilitiesResponse" type="tns:discoverCapabilitiesResponse"/>
  <xs:element name="discoverEventsForTopic" type="tns:discoverEventsForTopic"/>
  <xs:element name="discoverEventsForTopicResponse" type="tns:discoverEventsForTopicResponse"/>
  <xs:element name="discoverTopics" type="tns:discoverTopics"/>
  <xs:element name="discoverTopicsResponse" type="tns:discoverTopicsResponse"/>
  <xs:element name="getSubTopics" type="tns:getSubTopics"/>
  <xs:element name="getSubTopicsResponse" type="tns:getSubTopicsResponse"/>
  <xs:element name="getTopicOptions" type="tns:getTopicOptions"/>
  <xs:element name="getTopicOptionsResponse" type="tns:getTopicOptionsResponse"/>
  <xs:element name="requestAccess" type="tns:requestAccess"/>
  <xs:element name="requestAccessResponse" type="tns:requestAccessResponse"/>
  <xs:complexType name="requestAccess">
    <xs:sequence>
      <xs:element minOccurs="0" name="userInfo" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="defaultNotificationAddress" type="tns:notificationAddress"/>
      <xs:element minOccurs="0" name="defaultOnDemandEndpoint" type="tns:notificationAddress"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="privileges" nillable="true" type="tns:role"/>
      <xs:element name="supportsPublishOnDemand" type="xs:boolean"/>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notificationAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="endpoint" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:addressType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestAccessResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:requestStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSubTopics">
    <xs:sequence>
      <xs:element minOccurs="0" name="query" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSubTopicsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:topicSummary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="topicSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="topicId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discoverTopics">
    <xs:sequence>
      <xs:element minOccurs="0" name="query" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discoverTopicsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:topicSummary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discoverEventsForTopic">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
      <xs:element minOccurs="0" name="start" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="end" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discoverEventsForTopicResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:messageSummary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="messageSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" type="tns:authorship"/>
      <xs:element minOccurs="0" name="messageCreatedTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="messageExpirationTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="messageId" type="xs:string"/>
      <xs:element minOccurs="0" name="messagePublicationTime" type="xs:dateTime"/>
      <xs:element name="priority" type="xs:int"/>
      <xs:element minOccurs="0" name="publisher" type="tns:user"/>
      <xs:element minOccurs="0" name="subject" type="xs:string"/>
      <xs:element minOccurs="0" name="topicId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorship">
    <xs:sequence>
      <xs:element minOccurs="0" name="authorName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTopicOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTopicOptionsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:options"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="options">
    <xs:sequence>
      <xs:element minOccurs="0" name="access" type="tns:accessModel"/>
      <xs:element minOccurs="0" name="durability" type="tns:durability"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discoverCapabilities">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="discoverCapabilitiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:capabilities"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capabilities">
    <xs:sequence>
      <xs:element name="durableTopics" type="xs:boolean"/>
      <xs:element name="publishOnDeman" type="xs:boolean"/>
      <xs:element name="pushEvents" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="addressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="URI"/>
      <xs:enumeration value="XEP"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Admin"/>
      <xs:enumeration value="Restricted"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="requestStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success"/>
      <xs:enumeration value="Failure"/>
      <xs:enumeration value="PendingApproval"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="accessModel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Open"/>
      <xs:enumeration value="Closed"/>
      <xs:enumeration value="Authorize"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="durability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Transient"/>
      <xs:enumeration value="Robust"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IncompleteDataException" type="tns:IncompleteDataException"/>
  <xs:complexType name="IncompleteDataException">
    <xs:sequence>
      <xs:element minOccurs="0" name="missingElementName" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidDataException" type="tns:InvalidDataException"/>
  <xs:complexType name="InvalidDataException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeatureNotAvailableException" type="tns:FeatureNotAvailableException"/>
  <xs:complexType name="FeatureNotAvailableException">
    <xs:sequence>
      <xs:element minOccurs="0" name="canonicFeatureName" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConflictException" type="tns:ConflictException"/>
  <xs:complexType name="ConflictException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenicationRequiredException" type="tns:AuthenicationRequiredException"/>
  <xs:complexType name="AuthenicationRequiredException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoSuchTopicException" type="tns:NoSuchTopicException"/>
  <xs:complexType name="NoSuchTopicException">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotAuthorizedException" type="tns:NotAuthorizedException"/>
  <xs:complexType name="NotAuthorizedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpiredException" type="tns:ExpiredException"/>
  <xs:complexType name="ExpiredException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="discoverCapabilities">
    <wsdl:part name="parameters" element="tns:discoverCapabilities">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AuthenicationRequiredException">
    <wsdl:part name="AuthenicationRequiredException" element="tns:AuthenicationRequiredException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopicOptionsResponse">
    <wsdl:part name="parameters" element="tns:getTopicOptionsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopicOptions">
    <wsdl:part name="parameters" element="tns:getTopicOptions">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoSuchTopicException">
    <wsdl:part name="NoSuchTopicException" element="tns:NoSuchTopicException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="discoverTopics">
    <wsdl:part name="parameters" element="tns:discoverTopics">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubTopics">
    <wsdl:part name="parameters" element="tns:getSubTopics">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FeatureNotAvailableException">
    <wsdl:part name="FeatureNotAvailableException" element="tns:FeatureNotAvailableException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestAccess">
    <wsdl:part name="parameters" element="tns:requestAccess">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="discoverCapabilitiesResponse">
    <wsdl:part name="parameters" element="tns:discoverCapabilitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ExpiredException">
    <wsdl:part name="ExpiredException" element="tns:ExpiredException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="discoverEventsForTopic">
    <wsdl:part name="parameters" element="tns:discoverEventsForTopic">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestAccessResponse">
    <wsdl:part name="parameters" element="tns:requestAccessResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IncompleteDataException">
    <wsdl:part name="IncompleteDataException" element="tns:IncompleteDataException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidDataException">
    <wsdl:part name="InvalidDataException" element="tns:InvalidDataException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="discoverTopicsResponse">
    <wsdl:part name="parameters" element="tns:discoverTopicsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="discoverEventsForTopicResponse">
    <wsdl:part name="parameters" element="tns:discoverEventsForTopicResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConflictException">
    <wsdl:part name="ConflictException" element="tns:ConflictException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubTopicsResponse">
    <wsdl:part name="parameters" element="tns:getSubTopicsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotAuthorizedException">
    <wsdl:part name="NotAuthorizedException" element="tns:NotAuthorizedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="broker">
    <wsdl:operation name="requestAccess">
      <wsdl:input name="requestAccess" message="tns:requestAccess">
    </wsdl:input>
      <wsdl:output name="requestAccessResponse" message="tns:requestAccessResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidDataException" message="tns:InvalidDataException">
    </wsdl:fault>
      <wsdl:fault name="IncompleteDataException" message="tns:IncompleteDataException">
    </wsdl:fault>
      <wsdl:fault name="ConflictException" message="tns:ConflictException">
    </wsdl:fault>
      <wsdl:fault name="FeatureNotAvailableException" message="tns:FeatureNotAvailableException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSubTopics">
      <wsdl:input name="getSubTopics" message="tns:getSubTopics">
    </wsdl:input>
      <wsdl:output name="getSubTopicsResponse" message="tns:getSubTopicsResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchTopicException" message="tns:NoSuchTopicException">
    </wsdl:fault>
      <wsdl:fault name="AuthenicationRequiredException" message="tns:AuthenicationRequiredException">
    </wsdl:fault>
      <wsdl:fault name="ExpiredException" message="tns:ExpiredException">
    </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException" message="tns:NotAuthorizedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discoverTopics">
      <wsdl:input name="discoverTopics" message="tns:discoverTopics">
    </wsdl:input>
      <wsdl:output name="discoverTopicsResponse" message="tns:discoverTopicsResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchTopicException" message="tns:NoSuchTopicException">
    </wsdl:fault>
      <wsdl:fault name="AuthenicationRequiredException" message="tns:AuthenicationRequiredException">
    </wsdl:fault>
      <wsdl:fault name="ExpiredException" message="tns:ExpiredException">
    </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException" message="tns:NotAuthorizedException">
    </wsdl:fault>
      <wsdl:fault name="ConflictException" message="tns:ConflictException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discoverEventsForTopic">
      <wsdl:input name="discoverEventsForTopic" message="tns:discoverEventsForTopic">
    </wsdl:input>
      <wsdl:output name="discoverEventsForTopicResponse" message="tns:discoverEventsForTopicResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchTopicException" message="tns:NoSuchTopicException">
    </wsdl:fault>
      <wsdl:fault name="InvalidDataException" message="tns:InvalidDataException">
    </wsdl:fault>
      <wsdl:fault name="AuthenicationRequiredException" message="tns:AuthenicationRequiredException">
    </wsdl:fault>
      <wsdl:fault name="ExpiredException" message="tns:ExpiredException">
    </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException" message="tns:NotAuthorizedException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopicOptions">
      <wsdl:input name="getTopicOptions" message="tns:getTopicOptions">
    </wsdl:input>
      <wsdl:output name="getTopicOptionsResponse" message="tns:getTopicOptionsResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchTopicException" message="tns:NoSuchTopicException">
    </wsdl:fault>
      <wsdl:fault name="AuthenicationRequiredException" message="tns:AuthenicationRequiredException">
    </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException" message="tns:NotAuthorizedException">
    </wsdl:fault>
      <wsdl:fault name="FeatureNotAvailableException" message="tns:FeatureNotAvailableException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discoverCapabilities">
      <wsdl:input name="discoverCapabilities" message="tns:discoverCapabilities">
    </wsdl:input>
      <wsdl:output name="discoverCapabilitiesResponse" message="tns:discoverCapabilitiesResponse">
    </wsdl:output>
      <wsdl:fault name="AuthenicationRequiredException" message="tns:AuthenicationRequiredException">
    </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException" message="tns:NotAuthorizedException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrokerServiceServiceSoapBinding" type="tns:broker">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSubTopics">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSubTopics">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSubTopicsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchTopicException">
        <soap:fault name="NoSuchTopicException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenicationRequiredException">
        <soap:fault name="AuthenicationRequiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ExpiredException">
        <soap:fault name="ExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException">
        <soap:fault name="NotAuthorizedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="requestAccess">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="requestAccess">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestAccessResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidDataException">
        <soap:fault name="InvalidDataException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="IncompleteDataException">
        <soap:fault name="IncompleteDataException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConflictException">
        <soap:fault name="ConflictException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FeatureNotAvailableException">
        <soap:fault name="FeatureNotAvailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discoverEventsForTopic">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="discoverEventsForTopic">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="discoverEventsForTopicResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchTopicException">
        <soap:fault name="NoSuchTopicException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidDataException">
        <soap:fault name="InvalidDataException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenicationRequiredException">
        <soap:fault name="AuthenicationRequiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ExpiredException">
        <soap:fault name="ExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException">
        <soap:fault name="NotAuthorizedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discoverTopics">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="discoverTopics">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="discoverTopicsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchTopicException">
        <soap:fault name="NoSuchTopicException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenicationRequiredException">
        <soap:fault name="AuthenicationRequiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ExpiredException">
        <soap:fault name="ExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException">
        <soap:fault name="NotAuthorizedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ConflictException">
        <soap:fault name="ConflictException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTopicOptions">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTopicOptions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTopicOptionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchTopicException">
        <soap:fault name="NoSuchTopicException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenicationRequiredException">
        <soap:fault name="AuthenicationRequiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException">
        <soap:fault name="NotAuthorizedException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FeatureNotAvailableException">
        <soap:fault name="FeatureNotAvailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="discoverCapabilities">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="discoverCapabilities">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="discoverCapabilitiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AuthenicationRequiredException">
        <soap:fault name="AuthenicationRequiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NotAuthorizedException">
        <soap:fault name="NotAuthorizedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrokerServiceService">
    <wsdl:port name="brokerPort" binding="tns:BrokerServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/brokerPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
